<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-body-tertiary gradient-custom">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Navbar brand -->
        <a class="navbar-brand me-2" href="https://mdbgo.com/">
            <img src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp" height="16" alt="MDB Logo"
                loading="lazy" style="margin-top: -1px;" />
        </a>

        <!-- Toggle button -->
        <button data-mdb-collapse-init class="navbar-toggler" type="button" data-mdb-target="#navbarButtonsExample"
            aria-controls="navbarButtonsExample" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarButtonsExample">
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="#">PROYECTO 2</a>
                </li>
            </ul>
            <!-- Left links -->

            <button class="btn btn-dark px-3" role="button" (click)="closeSesion()">Cerrar sesión</button>

        </div>
        <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar -->


<ul>
    @for (user of allUsers; track $index) {
        <li>Nombre</li>
        <li>{{user.nombreCompleto}}</li>
        <li>correo</li>
        <li>{{user.correo}}</li>
        <li>Tipo de usuario</li>
        <li>{{ user.categoriaAdmin === true ? 'Administrador' : 'Usuario normal' }}</li>
        <li>
            <button type="button" class="btn btn-danger" (click)="borrarDatos(user._id)">
                Eliminar
            </button>
        </li>
    }
</ul>